*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container1{
    width: 20vw;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: 2px 2px 13px 3px rgb(15, 61, 1);
}
#operation, #clear{
    grid-column: 1/-1;
}
#operation{
    background-color: rgba(112, 128, 144, 0.568);
    color: whitesmoke;
    text-align: right;font-weight: 500;
}
#operation::placeholder{
    color: rgba(28, 110, 7, 0.945);
    font-weight: 500;
}
#container1 button{
    background-color: rgba(0, 0, 0, 0.712);
    color: whitesmoke;
}

#desc{ display: block; } 
#desc #para{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(16, 55, 230);
} 